@import "tailwindcss";

@theme {
  --color-gold: #d4af37;
  --color-sentinel-bg: #051005;
  --color-sentinel-blue: #0a192f;
}

body {
  background-color: var(--color-sentinel-bg);
  background-image: radial-gradient(circle at center, var(--color-sentinel-blue) 0%, var(--color-sentinel-bg) 100%);
  color: var(--color-gold);
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}
